<h1>Payment Results</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= %>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%=  %>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%=  %>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%=  %>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
